.nav {
  background-color: #fff;
  position: relative;
  overflow: visible;

  .nav__wrapper {
    width: 86%;
    height: fit-content;
    margin: 20px auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    @media (max-width: 599px) {
      flex-direction: column;
      //justify-content: center;
      padding-top: 10px;
      align-items: center;
      justify-content: space-around;
    }
    .nav__logo {
      width: 31px;
      height: 25px;
      margin-right: 100px;
      @media (max-width: 599px) {
        width: 40px;
        height: auto;
        object-fit: cover;
        margin: 0;
      }
    }

    .nav__list {
      padding-left: 0;
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 215px;
      font-family: "Montserrat", sans-serif;
      font-size: 12px;
      font-weight: 700;
      line-height: 24px;
      text-transform: uppercase;
      color: #191919;
      letter-spacing: 1.2px;

      @media (max-width: 599px) {
        font-size: 1.2em;
        flex-flow: column nowrap;
      }

      &-item {
        display: block;
        transition: color 0.2s ease-out;

        @media (max-width: 768px) {
          padding-top: 10px;

        }

        &_active {
          color: #10c9c3;
        }

        &:active, &:hover {
          color: #10c9c3;
          cursor: pointer;
        }
      }

    }


  }

}


.dropdown{
  position: relative;
  color: inherit !important;
  //overflow: visible;
  &:hover{
    .dropdown-content{
      //display: block;
      visibility: visible;
    }
  }

  &-content{
    display: block;
    visibility: hidden;
    z-index: 30;
    position: absolute;
    margin: 0;
    width: 100px;
    top: 100%;
    left: 0;
    right: auto;
    background-color: rgba(200,200,200,0.5);

    &--right{
      //left: auto;
      right: 0;
    }

    &-item{
      padding: 5px;
      color: inherit;

      //border-bottom: 1px solid gray;
    }
  }
}