.footer {
  background-color: #141414;
  width: 100%;
  height: fit-content;
  display: flex;
  align-items: center; }
  .footer .container {
    margin: 100px 7.1% 9.6%;
    width: 84.3%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between; }
    @media (max-width: 1023.9px) {
      .footer .container {
        flex-direction: column;
        align-items: center; } }
    .footer .container .company {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      width: 55%;
      min-width: 500px;
      max-width: 700px;
      margin-right: 50px; }
      @media (max-width: 1023.9px) {
        .footer .container .company {
          width: 90%;
          min-width: unset;
          max-width: unset;
          margin-right: 0; } }
      @media (max-width: 768px) {
        .footer .container .company {
          font-size: 1.2rem; } }
      @media (max-width: 600px) {
        .footer .container .company {
          flex-direction: column;
          align-items: center;
          text-align: center; } }
      .footer .container .company .rights {
        display: flex;
        flex-direction: column;
        width: 230px; }
        .footer .container .company .rights .title {
          font-family: Montserrat;
          color: #ffffff;
          font-size: 18px;
          font-weight: 600;
          letter-spacing: 0.18px;
          margin-bottom: 20px; }
          @media (max-width: 768px) {
            .footer .container .company .rights .title {
              font-size: 1.4rem; } }
          @media (max-width: 600px) {
            .footer .container .company .rights .title {
              margin-bottom: 10px; } }
        .footer .container .company .rights .text {
          color: #bcbcbc;
          font-family: "Nunito Sans";
          font-size: 15px;
          font-weight: 400;
          line-height: 24px;
          letter-spacing: 0.07px; }
          @media (max-width: 768px) {
            .footer .container .company .rights .text {
              font-size: 1.2rem; } }
      .footer .container .company .contacts {
        display: flex;
        flex-direction: column;
        color: #bcbcbc; }
        @media (max-width: 768px) {
          .footer .container .company .contacts {
            font-size: 1.2rem; } }
        @media (max-width: 600px) {
          .footer .container .company .contacts {
            margin-top: 20px; } }
        .footer .container .company .contacts .email {
          font-family: "Nunito Sans";
          font-size: 15px;
          line-height: 24px;
          font-weight: 400;
          letter-spacing: 0.07px; }
          @media (max-width: 768px) {
            .footer .container .company .contacts .email {
              font-size: 1.2rem; } }
        .footer .container .company .contacts .phone {
          font-family: "Work Sans";
          font-weight: 400;
          letter-spacing: 0.07px; }
          @media (max-width: 768px) {
            .footer .container .company .contacts .phone {
              font-size: 1.2rem; } }
    .footer .container .links {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      width: 32%;
      min-width: 335px;
      max-width: 400px; }
      @media (max-width: 1023.9px) {
        .footer .container .links {
          width: 90%;
          min-width: unset;
          max-width: unset;
          margin-top: 30px; } }
      @media (max-width: 768px) {
        .footer .container .links {
          font-size: 1.2rem; } }
      @media (max-width: 600px) {
        .footer .container .links {
          flex-direction: column;
          margin-bottom: 50px;
          align-items: center; } }
      .footer .container .links .footer-nav {
        display: flex;
        width: 170px;
        justify-content: space-between; }
        @media (max-width: 768px) {
          .footer .container .links .footer-nav {
            width: 200px; } }
        @media (max-width: 600px) {
          .footer .container .links .footer-nav {
            margin-bottom: 30px; } }
        .footer .container .links .footer-nav__list {
          margin: 0;
          padding: 0;
          display: block;
          color: #bcbcbc;
          font-family: "Nunito Sans";
          font-size: 15px;
          font-weight: 400;
          line-height: 24px;
          letter-spacing: 0.07px; }
          @media (max-width: 768px) {
            .footer .container .links .footer-nav__list {
              font-size: 1.2rem; } }
          .footer .container .links .footer-nav__list-item {
            display: block;
            transition: color 0.2s ease-out; }
            .footer .container .links .footer-nav__list-item:hover {
              color: ghostwhite; }
      .footer .container .links .social-links {
        margin: 0;
        padding: 0;
        width: 75px;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        color: #bcbcbc;
        font-family: "Nunito Sans";
        font-size: 15px;
        font-weight: 400;
        line-height: 24px;
        letter-spacing: 0.07px; }
        @media (max-width: 768px) {
          .footer .container .links .social-links {
            font-size: 1.2rem; } }
        .footer .container .links .social-links-item {
          display: block;
          transition: color 0.2s ease-out; }
          .footer .container .links .social-links-item:hover {
            color: ghostwhite; }

.nav {
  background-color: #fff;
  position: relative;
  overflow: visible; }
  .nav .nav__wrapper {
    width: 86%;
    height: fit-content;
    margin: 20px auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center; }
    @media (max-width: 599px) {
      .nav .nav__wrapper {
        flex-direction: column;
        padding-top: 10px;
        align-items: center;
        justify-content: space-around; } }
    .nav .nav__wrapper .nav__logo {
      width: 31px;
      height: 25px;
      margin-right: 100px; }
      @media (max-width: 599px) {
        .nav .nav__wrapper .nav__logo {
          width: 40px;
          height: auto;
          object-fit: cover;
          margin: 0; } }
    .nav .nav__wrapper .nav__list {
      padding-left: 0;
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 215px;
      font-family: "Montserrat", sans-serif;
      font-size: 12px;
      font-weight: 700;
      line-height: 24px;
      text-transform: uppercase;
      color: #191919;
      letter-spacing: 1.2px; }
      @media (max-width: 599px) {
        .nav .nav__wrapper .nav__list {
          font-size: 1.2em;
          flex-flow: column nowrap; } }
      .nav .nav__wrapper .nav__list-item {
        display: block;
        transition: color 0.2s ease-out; }
        @media (max-width: 768px) {
          .nav .nav__wrapper .nav__list-item {
            padding-top: 10px; } }
        .nav .nav__wrapper .nav__list-item_active {
          color: #10c9c3; }
        .nav .nav__wrapper .nav__list-item:active, .nav .nav__wrapper .nav__list-item:hover {
          color: #10c9c3;
          cursor: pointer; }

.dropdown {
  position: relative;
  color: inherit !important; }
  .dropdown:hover .dropdown-content {
    visibility: visible; }
  .dropdown-content {
    display: block;
    visibility: hidden;
    z-index: 30;
    position: absolute;
    margin: 0;
    width: 100px;
    top: 100%;
    left: 0;
    right: auto;
    background-color: rgba(200, 200, 200, 0.5); }
    .dropdown-content--right {
      right: 0; }
    .dropdown-content-item {
      padding: 5px;
      color: inherit; }

.footer {
  background-color: #141414;
  width: 100%;
  height: fit-content;
  display: flex;
  align-items: center; }
  .footer .container {
    margin: 100px 7.1% 9.6%;
    width: 84.3%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between; }
    @media (max-width: 1023.9px) {
      .footer .container {
        flex-direction: column;
        align-items: center; } }
    .footer .container .company {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      width: 55%;
      min-width: 500px;
      max-width: 700px;
      margin-right: 50px; }
      @media (max-width: 1023.9px) {
        .footer .container .company {
          width: 90%;
          min-width: unset;
          max-width: unset;
          margin-right: 0; } }
      @media (max-width: 768px) {
        .footer .container .company {
          font-size: 1.2rem; } }
      @media (max-width: 600px) {
        .footer .container .company {
          flex-direction: column;
          align-items: center;
          text-align: center; } }
      .footer .container .company .rights {
        display: flex;
        flex-direction: column;
        width: 230px; }
        .footer .container .company .rights .title {
          font-family: Montserrat;
          color: #ffffff;
          font-size: 18px;
          font-weight: 600;
          letter-spacing: 0.18px;
          margin-bottom: 20px; }
          @media (max-width: 768px) {
            .footer .container .company .rights .title {
              font-size: 1.4rem; } }
          @media (max-width: 600px) {
            .footer .container .company .rights .title {
              margin-bottom: 10px; } }
        .footer .container .company .rights .text {
          color: #bcbcbc;
          font-family: "Nunito Sans";
          font-size: 15px;
          font-weight: 400;
          line-height: 24px;
          letter-spacing: 0.07px; }
          @media (max-width: 768px) {
            .footer .container .company .rights .text {
              font-size: 1.2rem; } }
      .footer .container .company .contacts {
        display: flex;
        flex-direction: column;
        color: #bcbcbc; }
        @media (max-width: 768px) {
          .footer .container .company .contacts {
            font-size: 1.2rem; } }
        @media (max-width: 600px) {
          .footer .container .company .contacts {
            margin-top: 20px; } }
        .footer .container .company .contacts .email {
          font-family: "Nunito Sans";
          font-size: 15px;
          line-height: 24px;
          font-weight: 400;
          letter-spacing: 0.07px; }
          @media (max-width: 768px) {
            .footer .container .company .contacts .email {
              font-size: 1.2rem; } }
        .footer .container .company .contacts .phone {
          font-family: "Work Sans";
          font-weight: 400;
          letter-spacing: 0.07px; }
          @media (max-width: 768px) {
            .footer .container .company .contacts .phone {
              font-size: 1.2rem; } }
    .footer .container .links {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      width: 32%;
      min-width: 335px;
      max-width: 400px; }
      @media (max-width: 1023.9px) {
        .footer .container .links {
          width: 90%;
          min-width: unset;
          max-width: unset;
          margin-top: 30px; } }
      @media (max-width: 768px) {
        .footer .container .links {
          font-size: 1.2rem; } }
      @media (max-width: 600px) {
        .footer .container .links {
          flex-direction: column;
          margin-bottom: 50px;
          align-items: center; } }
      .footer .container .links .footer-nav {
        display: flex;
        width: 170px;
        justify-content: space-between; }
        @media (max-width: 768px) {
          .footer .container .links .footer-nav {
            width: 200px; } }
        @media (max-width: 600px) {
          .footer .container .links .footer-nav {
            margin-bottom: 30px; } }
        .footer .container .links .footer-nav__list {
          margin: 0;
          padding: 0;
          display: block;
          color: #bcbcbc;
          font-family: "Nunito Sans";
          font-size: 15px;
          font-weight: 400;
          line-height: 24px;
          letter-spacing: 0.07px; }
          @media (max-width: 768px) {
            .footer .container .links .footer-nav__list {
              font-size: 1.2rem; } }
          .footer .container .links .footer-nav__list-item {
            display: block;
            transition: color 0.2s ease-out; }
            .footer .container .links .footer-nav__list-item:hover {
              color: ghostwhite; }
      .footer .container .links .social-links {
        margin: 0;
        padding: 0;
        width: 75px;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        color: #bcbcbc;
        font-family: "Nunito Sans";
        font-size: 15px;
        font-weight: 400;
        line-height: 24px;
        letter-spacing: 0.07px; }
        @media (max-width: 768px) {
          .footer .container .links .social-links {
            font-size: 1.2rem; } }
        .footer .container .links .social-links-item {
          display: block;
          transition: color 0.2s ease-out; }
          .footer .container .links .social-links-item:hover {
            color: ghostwhite; }

.nav {
  background-color: #fff;
  position: relative;
  overflow: visible; }
  .nav .nav__wrapper {
    width: 86%;
    height: fit-content;
    margin: 20px auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center; }
    @media (max-width: 599px) {
      .nav .nav__wrapper {
        flex-direction: column;
        padding-top: 10px;
        align-items: center;
        justify-content: space-around; } }
    .nav .nav__wrapper .nav__logo {
      width: 31px;
      height: 25px;
      margin-right: 100px; }
      @media (max-width: 599px) {
        .nav .nav__wrapper .nav__logo {
          width: 40px;
          height: auto;
          object-fit: cover;
          margin: 0; } }
    .nav .nav__wrapper .nav__list {
      padding-left: 0;
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 215px;
      font-family: "Montserrat", sans-serif;
      font-size: 12px;
      font-weight: 700;
      line-height: 24px;
      text-transform: uppercase;
      color: #191919;
      letter-spacing: 1.2px; }
      @media (max-width: 599px) {
        .nav .nav__wrapper .nav__list {
          font-size: 1.2em;
          flex-flow: column nowrap; } }
      .nav .nav__wrapper .nav__list-item {
        display: block;
        transition: color 0.2s ease-out; }
        @media (max-width: 768px) {
          .nav .nav__wrapper .nav__list-item {
            padding-top: 10px; } }
        .nav .nav__wrapper .nav__list-item_active {
          color: #10c9c3; }
        .nav .nav__wrapper .nav__list-item:active, .nav .nav__wrapper .nav__list-item:hover {
          color: #10c9c3;
          cursor: pointer; }

.dropdown {
  position: relative;
  color: inherit !important; }
  .dropdown:hover .dropdown-content {
    visibility: visible; }
  .dropdown-content {
    display: block;
    visibility: hidden;
    z-index: 30;
    position: absolute;
    margin: 0;
    width: 100px;
    top: 100%;
    left: 0;
    right: auto;
    background-color: rgba(200, 200, 200, 0.5); }
    .dropdown-content--right {
      right: 0; }
    .dropdown-content-item {
      padding: 5px;
      color: inherit; }

body {
  width: 100%;
  background-color: #f6f6f6; }
  body::selection {
    color: #fff;
    background-color: #10c9c3; }

a {
  text-decoration: none;
  color: inherit; }

html {
  font-size: 16px; }

.section-contact {
  width: 100%; }
  .section-contact .contact-container {
    width: 86%;
    margin: 7%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between; }
    @media (max-width: 1280px) {
      .section-contact .contact-container {
        flex-direction: column;
        align-items: center;
        margin: 7%; } }
    .section-contact .contact-container .contact-text-container {
      width: 375px;
      color: #787878;
      font-family: "Nunito Sans";
      align-self: flex-start;
      margin-right: 50px; }
      @media (max-width: 1024px) {
        .section-contact .contact-container .contact-text-container {
          margin-bottom: 50px; } }
      .section-contact .contact-container .contact-text-container .title {
        font-family: Montserrat;
        color: #171717;
        font-size: 1.875rem;
        font-weight: 600;
        letter-spacing: 0.1px;
        margin-bottom: 30px; }
      .section-contact .contact-container .contact-text-container .text {
        line-height: 24px;
        letter-spacing: 0.08px; }
      .section-contact .contact-container .contact-text-container .info {
        margin-top: 30px; }
        .section-contact .contact-container .contact-text-container .info .contacts-item {
          margin-top: 14px; }
          .section-contact .contact-container .contact-text-container .info .contacts-item .accent {
            color: #171717;
            font-weight: 800;
            margin-right: 5px; }
    .section-contact .contact-container .form {
      width: 670px;
      display: block; }
      @media (max-width: 1280px) {
        .section-contact .contact-container .form {
          width: 100%;
          margin-top: 50px; } }
      .section-contact .contact-container .form input, .section-contact .contact-container .form textarea, .section-contact .contact-container .form button {
        box-sizing: border-box;
        border: 0;
        display: block; }
      .section-contact .contact-container .form input {
        height: 50px;
        margin-bottom: 30px;
        padding-left: 20px; }
        .section-contact .contact-container .form input::placeholder {
          font-size: 15px;
          color: #787878; }
      .section-contact .contact-container .form textarea {
        margin-bottom: 30px;
        height: 170px;
        padding: 20px; }
      .section-contact .contact-container .form .name-and-email {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between; }
        .section-contact .contact-container .form .name-and-email .name {
          width: 320px; }
          @media (max-width: 1280px) {
            .section-contact .contact-container .form .name-and-email .name {
              width: 48%; } }
          @media (max-width: 768px) {
            .section-contact .contact-container .form .name-and-email .name {
              width: 100%; } }
        .section-contact .contact-container .form .name-and-email .email {
          width: 320px; }
          @media (max-width: 1280px) {
            .section-contact .contact-container .form .name-and-email .email {
              width: 48%; } }
          @media (max-width: 768px) {
            .section-contact .contact-container .form .name-and-email .email {
              width: 100%; } }
      .section-contact .contact-container .form .title {
        width: 100%; }
      .section-contact .contact-container .form .comment {
        width: 100%;
        height: 170px; }
      .section-contact .contact-container .form .button-send {
        width: 180px;
        height: 54px;
        color: #ffffff;
        font-family: Montserrat;
        font-size: 12px;
        font-weight: 500;
        text-transform: uppercase;
        letter-spacing: 1.2px;
        background-color: #10c9c3;
        padding: 0;
        transition: font-size 50ms linear; }
        @media (max-width: 768px) {
          .section-contact .contact-container .form .button-send {
            width: 100%; } }
        .section-contact .contact-container .form .button-send:hover {
          box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5); }
        .section-contact .contact-container .form .button-send:active {
          box-shadow: none;
          font-size: 10px; }
  .section-contact .map {
    width: 86%;
    margin: 0 auto; }
